.list-item {
    margin:10px;
    border: solid 1px;
    border-color: black;
}

.create-form {
    margin:10px;
    border: solid 1px;
    border-color: black;
}

ul {
    list-style-type: none;
}

.error-message { 
    border: solid 1px;
    border-color: red;
}
.checked {
    color:gold;
}

.hidden {
    display: none;
}