#edit-bookmark{
    float: right;
    /* display: inline-block; */
}

.item-button-container{
    display: inline-block;
    width: 100%;
}

.list-item {
    font-family: 'Raleway', sans-serif;
    margin:10px;
    border: solid 1px;
    border-color:lightgrey;
    border-radius: 5px;
}

.delete {
    margin: 5px;
    float: right;
    width: 20px;
    height: 20px;
    padding: 1px;
    background-color: darkgray;
    border-radius: 50px;
}

.bookmark-results {
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    width: 50%;
    margin: 3em auto;
}

.ratings {
    /* display:inline-block; */
    margin: 5px;
}

h3 {
    margin: 5px;
    display: inline-block;
}

.title {
    width: 100%;
    background-color: lightgray;
    font-size: 16px;
    height:100%;
    box-sizing: border-box;
}

.trash {
    width: 30px;
    height: 100%;
    box-sizing: border-box;
    float: right;
}

span{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

p {
    border: solid 1px lightgray;
    margin: 5px;
    padding: 5px;
    max-width: 100%;
    border-radius: 5px;
}

#visit-site{
    margin: 5px;
    width: 100px;
    height: 20px;
    float: left;
    background-color: lightgrey;
    border-radius: 5px;
}

#edit-bookmark{
    margin: 5px;
    width: 100px;
    height: 20px;
    float: right;
    background-color: lightgrey;  
    border-radius: 5px;
}

a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}