#edit-bookmark{
    float: right;
    display: inline-block;
}

.item-button-container{
    display: inline-block;
    width: 100%;
}

.list-item {
    margin:10px;
    border: solid 1px;
    border-color:lightgrey;
    border-radius: 5px;
    max-width: 500px;
}

.delete {
    margin: 5px;
    float: right;
    width: 20px;
    height: 20px;
    padding: 1px;
    background-color: darkgray;
    border-radius: 50px;
}

ul {
    list-style-type: none;
    margin: 25px;
    padding: 25px;
}

.ratings {
    /* display:inline-block; */
    margin: 5px;
}

h3 {
    margin: 5px;
    display: inline-block;
}

.item-heading {
    display:inline-block;
    font-size: 0;
    width: 100%;
    box-sizing: border-box;
}
.title {
    width: 100%;
    background-color: lightgray;
    display: inline-block;
    font-size: 16px;
    height:100%;
    box-sizing: border-box;
}

.trash {
    width: 30px;
    background-color: lightgray;
    display:inline-block;
    height: 100%;
    box-sizing: border-box;
}

span{
    text-align: center;
}

p {
    border: solid 1px lightgray;
    margin: 5px;
    padding: 5px;
    max-width: 100%;
    border-radius: 5px;
}

#visit-site{
    margin: 5px;
    width: 100px;
    height: 20px;
    float: left;
    background-color: lightgrey;
    border-radius: 5px;
}

#edit-bookmark{
    margin: 5px;
    width: 100px;
    height: 20px;
    float: right;
    background-color: lightgrey;  
    border-radius: 5px;
}
