h1{
    margin:0px;
}
header {
    margin: 10px;;
    text-align: center;
}

.error-message { 
    border: solid 1px;
    border-color: red;
}
.checked {
    color:gold;
}

#add-bookmark{
    float: left;
    display: inline-block;
    margin-left: 25%;
    width:200px;
    height:25px;
}

#rating-filter{
    float: right;
    display: inline-block;
    margin-right: 25%;
    width:200px;
    height:25px;
}

main {
    margin:auto;
}

.alert {
    padding: 5px;
    background-color: lightcoral;
    color: white;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.message {
    float: left;
}